
<div>
    <div style="background-image:url(./assets/home.jpg); height: 600px; background-size:initial; filter: brightness(100%);">
        <div class="container col offset-md-3" style="margin-top: 200px; width: 300px; 
        background: white; padding-bottom: 50px; padding-top: 50px;
        box-shadow: 5px 10px 8px;">
            <h1>Join relish NOW!</h1>

               <p>Would you like thousands of new customers to taste your amazing food? So would we!
                It's simple: we list your menu online, help you process orders, pick them up, and deliver them to the customers! - in a heartbeat!
                Interested? Let's start our partnership today!</p>
                <button mat-raised-button (click)="GoToVendorPage()">To the Chef Page!</button>
        </div>
    </div>
    <div class="full-container">
        
    </div>
    
</div>