
<div class="row justify-content-center" style="padding-top: 100px;">
    <div class="row col-lg-9 col-xl-9 col-md-10 col-xs-12 justify-content-center" style="width: 90%;">
        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-12 justify-contents-centre">
            <div class="justify-content-center">
                <h1><strong>Relish - What can you expect!</strong></h1>
            </div>
            
            <p style="font-size: 1.3rem; font-family:Helvetica; line-height: 1.6; font-weight: 300;">With the commercialisation of fast-food chains, ready-made meals etc, coupled with a large amount of effort and time needed to prepare home-cooked food, individuals pressed for time would naturally opt for food that requires minimal time and effort to allow them to get on with their day.
                Our project aims to recruit stay-home chefs, be it aspiring teenagers who want to dabble in cooking or stay-home spouses that want to showcase their ethnic cuisine, and to connect these chefs to a wider customer base that would rather home-cooked food rather than what is readily available out there now.
                Especially during these trying times where people are under strict quarantine, it is even harder for people that are not staying with their families to have a taste of home cooked food.  Local businesses and hawkers who have to close their physical store will be able to continue business from home. Our project could help customers that want to support local businesses but are fearful of leaving the house, as well as customers that are away from family.
                </p>
        </div>
    </div>
</div>
